Repository PSPDFKit/PSPDFKit-Cordova, pull requests merged in 2019-10, with the labels that each got.

#6 Android cleanup
  .gitignore
  docs/android/README.md
  plugin.xml
  src/android/config.gradle
  src/android/java/com/pspdfkit/cordova/action/annotation/GetAnnotationsAction.java
  src/android/java/com/pspdfkit/cordova/action/annotation/RemoveAnnotationAction.java
  src/android/java/com/pspdfkit/cordova/action/xfdf/ExportXfdfAction.java
  tests/package.json
  tests/plugin.xml
  tests/tests.js
Labels: READY FOR REVIEW, android, documentation

#7 Implement `clearCacheForPage` on iOS
  package.json
  plugin.xml
  src/ios/PSPDFKitPlugin.m
  www/PSPDFKit.js
Labels: READY FOR REVIEW, enhancement, ios

#11 Fix Javascript plugin name reference
  package.json
  plugin.xml
  src/ios/PSPDFKitPlugin.m
Labels: bug, ios
