Repository PSPDFKit/PSPDFKit-Cordova, pull requests merged in 2020-04, with the labels that each got.

#23 Update for PSPDFKit 9.3 for iOS
  package.json
  plugin.xml
  src/ios/PSPDFKitPlugin.m
Labels: READY FOR REVIEW, enhancement, ios

#25 Fix configuration adapter
  package.json
  plugin.xml
  src/android/java/com/pspdfkit/cordova/action/document/ShowDocumentAction.java
Labels: READY FOR REVIEW, android, bug

#26 Update to PSPDFKit 6.3 for Android
  package.json
  plugin.xml
  src/android/config.gradle
Labels: READY FOR REVIEW, android

#27 Add `setGlobalOptions()` on iOS
  src/ios/PSPDFKitPlugin.m
  www/PSPDFKit.js
Labels: READY FOR REVIEW, enhancement, ios
