Repository PSPDFKit/PSPDFKit-Cordova, pull requests merged in 2021-07, with the labels that each got.

#45 Update to PSPDFKit 6.6.2 for Android
  docs/android/README.md
  package.json
  plugin.xml
  src/android/config.gradle
  src/android/java/com/pspdfkit/cordova/PSPDFKitPlugin.java
  src/android/java/com/pspdfkit/cordova/action/LicenseKeyAction.java
  src/android/pspdfkit.gradle
  www/PSPDFKit.js
Labels: READY FOR REVIEW, android

#46 Update for PSPDFKit 10.5 for iOS
  docs/android/README.md
  docs/ios/README.md
  examples/cordova/PSPDFKit-Demo/config.xml
  examples/ionic/PSPDFKit-Demo/config.xml
  package.json
  plugin.xml
Labels: READY FOR REVIEW, ios

#47 Upgrade to PSPDFKit 7 for Android
  examples/cordova/PSPDFKit-Demo/package-lock.json
  examples/ionic/PSPDFKit-Demo/package-lock.json
  examples/ionic/PSPDFKit-Demo/package.json
  package.json
  plugin.xml
  src/android/config.gradle
Labels: READY FOR REVIEW, android

#49 Remove deprecated API for `pageGrabberEnabled`
  examples/cordova/PSPDFKit-Demo/package-lock.json
  examples/ionic/PSPDFKit-Demo/package-lock.json
  package.json
  plugin.xml
  src/ios/PSPDFKitPlugin.m
Labels: READY FOR REVIEW, enhancement, ios
